@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    display: block;
   
    @include tablet {
        display: grid;
        grid-template-columns: 20% 60% 20%;
        flex-direction: none;
    }
    @include desktopXL {
        display: grid;
        grid-template-columns: 17% 66% 17%;
        flex-direction: none;
    }
    
}
nav {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem 2rem;
    background-color: white;
    box-shadow: 0 4px 10px 0 rgba($color: #000000, $alpha: 0.25);

    .user-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h4{
            color: $color-dark;
        }
        h5{
            color: $color-medium;
            font-size: 0.85rem;
            margin-bottom: 0.5rem;

        }
        .avatar-field {
            position: relative;
            width: min-content;

            #avatar{
                width: 10rem;
                height: 10rem;
                border-radius: 50%;
                object-fit: cover;
                background-color: grey;
            }
            #company-logo{
                position: absolute;
                bottom: 0;
                right: 0;
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
            }
        }
        .stats-field{
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            column-gap: 1rem;

            .stat{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                row-gap: 0.3rem;
                
                p{
                    margin: 0;
                    padding: 0;
                    font-family: "Roboto", sans-serif;
                    font-weight: 500;
                    color:$color-light;
                }
                img{
                    width: 1.5rem;
                    height: 1.5rem;
                    object-fit: fill;
                }
            }
        }
    }
    ul {
        list-style: none;
        text-align: left;
        padding: 0;

        li{
            margin: 1.5rem 1rem;

            a{
                color: $color-dark;
                font-weight: 400;
                text-decoration: none;
            }
            a.active {
                font-weight: 900;
            }
        }
        li:last-child{
            margin-top: 4rem;
        }
    }
    .btn {
        color: white;
        background-color: $color-medium;
        box-shadow: none;
        font-size: 1rem;
    }
    .btn:hover{
        background-color: rgba(108, 62, 214, 0.31);
    }
}

.outlet{
    //height: 100vh;
    overflow-y: scroll;
    // width: 66%;
    // make only cental element scrollable
    // overflow-y: auto;
}


.root {
    &__navlink {
        margin-left: 1rem;
        padding-bottom: 1rem;
    }
    &__user {
        margin: 0.75rem 0;
        
    }
    &__logo {
        margin: 1rem;
    }
}
